<div id='mNew'>
        <a href="#">...add a new mate</a>

        <form>
            <label for='firstName'>First Name:</label>
            <input type="text" id='firstName' placeholder="Giacomo"><br>
            <br>
            <label for='lastName'>Last Name:</label>
            <input type="text" id='lastName' placeholder="Casanova"><br>
            <br>
            <label for='platform'>Platform:</label> 
            <select id='platform'>
                <option value="Tinder">Tinder</option>
                <option value="OKcupid">OKcupid</option>
                <option value="Bumble">Bumble</option>
                <option value="eHarmony">eHarmony</option>
                <option value="Mate.com">Mate.com</option>
            </select><br>
            <br>
            <button class='submit' type="submit">Submit</button>
        </form>
</div>


{{#each user.Mates}}
<div class='mate' id='m{{id}}'>
    <div class='mHead'>
        <a href="#">{{firstName}} {{lastName}}</a><p>Avg Rating: <span class='avgRating'>&#x2764; &#x2764; &#x2764;</span></p>
    </div>
	
	<div class='events'>
    
         <div class='eventNew'>
            <p><a href="#">...add new event</a></p>

            <form class='eventForm'>
                <label for='What'>What:</label>
                <input type="text" id='firstName' placeholder="Giacomo"><br>
                <br>
                <label for='When'>When:</label>
                <input type="date" id='lastName' placeholder="Casanova"><br>
                <br>
                <label for='where'>Where:</label> 
                <input type="text" id='lastName' placeholder="Casanova"><br>

                <br>
                <button class='submit' type="submit">Submit</button>
            </form>
        </div>


	{{#each ../user.Events}}
        {{#ifCond MateId "===" "1001"}}
		<div class='event'>
            <h2 class='what'><strong>Event:</strong> <span>{{what}}</span></h2>  
            <p class='when'><strong>When: </strong> {{when}}</p>
            <p class='where'><strong>Where:</strong> {{{'where'}}}</p>
            <p><strong>Rating:</strong> <span class='rating'>{{rating}}</span></p>
        </div>
        {{/if}}
	{{/each}}

	</div>
	
</div>
{{/each}}